In [24]:
rows = []

with open("data/train_1000.label.txt", "r", encoding="ISO-8859-1") as f:
    i = 0
    for l in f.readlines():
        split_line = l.split()
        rows.append({"text": " ".join(split_line[1:]),
                    "label": 1})
print(len(rows))

1000

In [45]:
import pandas as pd

pos_ex = pd.DataFrame(rows)

In [22]:
" ".join(r[1:])

'How did serfdom develop in and then leave Russia ?'

In [27]:
p = """The Normans (Norman: Nourmands; French: Normands; Latin: Normanni) were the people who in the 10th and 11th centuries gave their name to Normandy, a region in France. They were descended from Norse ("Norman" comes from "Norseman") raiders and pirates from Denmark, Iceland and Norway who, under their leader Rollo, agreed to swear fealty to King Charles III of West Francia. Through generations of assimilation and mixing with the native Frankish and Roman-Gaulish populations, their descendants would gradually merge with the Carolingian-based cultures of West Francia. The distinct cultural and ethnic identity of the Normans emerged initially in the first half of the 10th century, and it continued to evolve over the succeeding centuries."""

In [30]:
import spacy 

nlp = spacy.load("en_core_web_sm")

In [43]:
neg_examples = []
for sent in nlp(p).sents:
    neg_examples.append({"text": sent.text, "label":0})
neg = pd.DataFrame(neg_examples)

In [44]:
neg

                                                text  label
0  The Normans (Norman: Nourmands; French: Norman...      0
1  They were descended from Norse ("Norman" comes...      0
2  Through generations of assimilation and mixing...      0
3  The distinct cultural and ethnic identity of t...      0

In [46]:
pos_ex

                                                  text  label
0    How did serfdom develop in and then leave Russ...      1
1     What films featured the character Popeye Doyle ?      1
2    How can I find a list of celebrities ' real na...      1
3    What fowl grabs the spotlight after the Chines...      1
4                      What is the full form of .com ?      1
..                                                 ...    ...
995  How do you look up criminal records on the Int...      1
996    Where is the actress , Marion Davies , buried ?      1
997  What is an example of an actual case of using ...      1
998                Who was the Charlie perfume woman ?      1
999  Who portrayed `` Rosanne Rosanna-Dana '' on th...      1

[1000 rows x 2 columns]

In [48]:
pd.concat([pos_ex, neg])

                                                  text  label
0    How did serfdom develop in and then leave Russ...      1
1     What films featured the character Popeye Doyle ?      1
2    How can I find a list of celebrities ' real na...      1
3    What fowl grabs the spotlight after the Chines...      1
4                      What is the full form of .com ?      1
..                                                 ...    ...
999  Who portrayed `` Rosanne Rosanna-Dana '' on th...      1
0    The Normans (Norman: Nourmands; French: Norman...      0
1    They were descended from Norse ("Norman" comes...      0
2    Through generations of assimilation and mixing...      0
3    The distinct cultural and ethnic identity of t...      0

[1004 rows x 2 columns]